/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* settings */

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  min-width: 320px;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  background-color: var(--white-grey);
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

* {
  margin: 0;
}

img {
  width: 100%;
  ;
}

h1 {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  list-style-type: none;
}

button {
  border: inherit;
  cursor: pointer;
}

/* fonts */

@font-face {
  font-family: 'Roboto';
  src: local('Roboto Thin'), local('RobotoThin'), local('Roboto-Thin'),
    url('../fonts/RobotoThin.ttf') format('ttf'),
    url('../fonts/RobotoThin.ttf') format('ttf');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto Light'), local('RobotoLight'), local('Roboto-Light'),
    url('../fonts/RobotoLight.ttf') format('ttf'),
    url('../fonts/RobotoLight.ttf') format('ttf');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto Regular'), local('RobotoRegular'), local('Roboto-Regular'),
    url('../fonts/RobotoRegular.ttf') format('ttf'),
    url('../fonts/RobotoRegular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: local('Montserrat Medium'), local('MontserratMedium'), local('Montserrat-Medium'),
    url('../fonts/MontserratMedium.ttf') format('ttf'),
    url('../fonts/MontserratMedium.ttf') format('ttf');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat Bold'), local('MontserratBold'), local('Montserrat-Bold'),
    url('../fonts/MontserratBold.ttf') format('ttf'),
    url('../fonts/MontserratBold.ttf') format('ttf');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat Black'), local('MontserratBlack'), local('Montserrat-Black'),
    url('../fonts/MontserratBlack.ttf') format('ttf'),
    url('../fonts/MontserratBlack.ttf') format('ttf');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* variable */

:root {
  --blue-moon: #3F2AFF;
  --blue-dark: #212133;
  --blue-black: #2E2B44;
  --black-blue: #2E2B44;
  --white-snow: #FFFFFF;
  --white-grey: #E5E5E5;
  --grey-whiten: #EDF0F9;
  --grey-light: #666666;
  --grey-lighter: #85859B;
  --grey-dark: #212133;

  --yellow-light: #ffd12b;
  --white: #FFFFFF;
}

:root {
  --mb-small: 15px;
  --mr-small: 15px;
  --mb-normal: 30px;
  --mr-normal: 30px;
  --mb-medium: 50px;
  --mr-medium: 56px;
  --mb-large: 70px;
  --mr-large: 70px;
  --mb-extra-large: 80px;
  --mr-extra-large: 90px;
}

/* basic styles */

.section {
  margin-bottom: var(--mb-extra-large);
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.subtitle {
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
}

.btn {
  border-radius: 20px;
  background-color: rgba(63, 42, 255, 1);
  color: var(--white-snow);
}

/* effects */

.header__item-link:focus {
  color: var(--grey-whiten);
}

.header__item-link:hover {
  color: var(--yellow-light);
  outline: none;
}
.header__item-link:active {
  color: var(--yellow-light);
}

.header__list-item .header__item-link:focus {
  outline: 1px solid var(--grey-whiten);
  outline-offset: 2px;
}

.header__list-item .header__item-link:active {
  outline: 1px solid var(--yellow-light);
  outline-offset: 2px;   
}

.hero__btn:focus {
  color: var(--grey-whiten);
  background-color: rgba(63, 42, 255, 0.5);
  outline: 1px solid var(--grey-whiten);
  outline-offset: 2px;
}

.hero__btn:hover {
  color: var(--yellow-light);
  outline: none;
}
.hero__btn:active {
  color: var(--yellow-light);
  outline: 1px solid var(--yellow-light); 
  outline-offset: 2px;
}

.courses__btn:focus { 
  color: var(--grey-whiten);
  outline: 1px solid var(--blue-dark); 
  outline-offset: 2px;
}

.courses__btn:hover {
  color: var(--yellow-light);
  outline: none;
}
.courses__btn:active {
  color: var(--yellow-light);
  outline: 1px solid var(--yellow-light); 
  outline-offset: 2px;
}

.footer__link-logo path:focus {
  fill: var(--yellow-light);
}

.footer__link-logo path:hover {
  fill: var(--yellow-light);
}

.footer__link-logo path:active {
  fill: var(--yellow-light);
}

/* header */

.header {
  background-color: var(--blue-moon);
}

.header__container {
  max-width: 1440px;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 28px 15px;
}

.header__logo {
  margin-right: var(--mr-small);
  width: 94px;
  height: 21px;
}

.header__list-item {
  -webkit-transition: outline .3s ease-in-out;
  -o-transition: outline .3s ease-in-out;
  transition: outline .3s ease-in-out;
}

.header__list-item:not(:last-child) {
  margin-right: var(--mr-medium);
}

.header__item-link {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: var(--white-snow);
  -webkit-transition: color .3s ease-in-out;
  -o-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out;
}

/* hero section */

.hero {
  background: -o-radial-gradient(67.78% 55.93%, 44.07% 44.07%, #555681 0%, #212133 100%);
  background: radial-gradient(44.07% 44.07% at 67.78% 55.93%, #555681 0%, #212133 100%);
}

.hero__container {
  padding: 15px 40px;
}

.hero-content {
  padding-top: 130px;
  padding-bottom: 130px;
  z-index: 2;
}

.hero__title {
  margin-bottom: var(--mb-normal);
  color: var(--white-snow);
  font-weight: 700;
  font-size: 60px;
  line-height: 100%;
}

.hero__text {
  margin-bottom: var(--mb-large);
  color: var(--white-snow);
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
}

.hero__btn {
  min-width: 270px;
  padding: 24px 75px;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  -webkit-transition: color .3s ease-in-out, outline .3s ease-in-out, opacity .3s ease-in-out;
  -o-transition: color .3s ease-in-out, outline .3s ease-in-out, opacity .3s ease-in-out;
  transition: color .3s ease-in-out, outline .3s ease-in-out, opacity .3s ease-in-out;
}

.hero-img {
  background-image: url(../img/hero.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

/* advantages section */

.advantages__container {
  padding: 0 40px;
}

.advantages__article {
  margin-bottom: var(--mb-normal);
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.advantages__img {
  min-width: 160px;
  min-height: 142px;
  margin-right: var(--mr-normal);
  background-image: url(../img/Vectary\ texture.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.advantages__item {
  height: 100%;
}

.advantages__title {
  margin-bottom: var(--mb-small);
  color: var(--blue-black);
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
}

.adv-txt {
  width: 75%;
}

.advantages__text {
  color: var(--grey-light);
  font-weight: 700;
  font-size: 16px;
  line-height: 25px;
}

/* teachers */

.card {
  height: 100%;
}

.teachers__container {
  padding: 80px 40px;
}

.teachers {
  background-color: var(--grey-dark);
}

.teachers__img {
  margin-bottom: var(--mb-normal);
}

.teachers__title {
  margin-bottom: var(--mb-normal);
  color: var(--white-snow);
}

.teachers__name {
  margin-bottom: var(--mb-small);
  color: var(--white-snow);
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
}

.teachers__text {
  color: var(--grey-lighter);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

/* courses section */

.courses__container {
  padding: 0 40px;
}

.courses__title {
  margin-bottom: var(--mb-normal);
  color: var(--blue-dark);
}

.courses__card {
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  background-color: var(--grey-whiten);
  border-radius: 20px;
}

.courses__card-body {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.courses__card-title {
  margin-bottom: var(--mb-small);
  color: var(--blue-dark);
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;  
}

.courses__text {
  margin-bottom: var(--mb-normal);
  color: var(--grey-light);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

.courses__btn {
  max-width: 100%;
  padding: 20px 50px;
  -webkit-transition: color .3s ease-in-out, outline .3s ease-in-out;
  -o-transition: color .3s ease-in-out, outline .3s ease-in-out;
  transition: color .3s ease-in-out, outline .3s ease-in-out;
}

.courses__time-block {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 10px;
  right: 10px;
}

.courses__time-txt {
  color: var(--white);
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  padding-left: 3px;
}

/* footer */

.footer {
  background-color: var(--blue-black);
}

.footer__container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 28px 0;
}

.footer__list {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__link-logo {
  -webkit-transition: fill .3s ease-in-out;
  -o-transition: fill .3s ease-in-out;
  transition: fill .3s ease-in-out;
}

.footer__copy {
  background-color: var(--white-snow);
}

.footer__txt {
  position: relative;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  text-transform: uppercase;
  color: var(--black-blue);
  text-align: center;
}

.footer__txt span {
  color: var(--blue-moon);
  padding: 0 5px;
}